<template>
  <b-modal id="add-new-participant"
           @ok="ok">
    <p class="my-4">Insert new participant details</p>

    <b-form-group
        id="name-grp"
        label-cols-sm="4"
        label-for="name"
        v-bind:class="missingValueTextHighlight(participant.name)"
    ><template slot="label">Name</template>
      <b-input-group class="mb-3">
        <b-form-input
            id="name"
            v-model="participant.name"
            v-bind:class="missingValueBorderHighlight(participant.name)"
            type="text"
        ></b-form-input>
      </b-input-group>
    </b-form-group>

    <b-form-group
        id="birthday-grp"
        label-cols-sm="4"
        label-for="date"
        v-bind:class="missingValueTextHighlight(participant.birthday)"
    ><template slot="label">Birthday</template>
      <b-input-group class="mb-3">
        <b-form-datepicker
            v-model="participant.birthday"
            right
            aria-controls="date"
            v-bind:class="missingValueBorderHighlight(participant.birthday)"
        ></b-form-datepicker>
      </b-input-group>
    </b-form-group>

    <template v-slot:modal-footer="{ ok, cancel }">
      <b-button size="lg" variant="success" @click="ok"
      :disabled="!participant.name || !participant.birthday">
        <b-icon-plus></b-icon-plus> ADD
      </b-button>
      <b-button size="lg" variant="danger" @click="cancel">
        CANCEL
      </b-button>
    </template>

  </b-modal>
</template>

<script>
import EventBus from "@/utils/eventBus";
import {highlightStyleMixin} from "@/mixins/highlightStyleMixin";

export default {
  name: "AddNewParticipant",
  mixins: [
    highlightStyleMixin
  ],
  mounted() {
    EventBus.$on('show-new-participant-modal', this.showNewParticipantModal);
  },
  beforeMount() {
    EventBus.$off('show-new-participant-modal', this.showNewParticipantModal);
  },
  data() {
    return {
      participant: {
        name: null,
        birthday: null
      }
    }
  },
  methods: {
    showNewParticipantModal() {
      this.$bvModal.show('add-new-participant');
    },
    cancel() {
      this.$bvModal.hide('add-new-participant');
    },
    async ok() {
      try {
        const response = await this.axios.post(`/conference/${this.$route.params.id}/participant`, this.participant);
        if (response && response.data) {
          EventBus.$emit("FETCH_CONFERENCE");
          this.makeToast();
        }
        this.cancel();
      } catch (e) {
        console.log(e);
      }
    },
    makeToast(append = false) {
      this.$bvToast.toast("Participant is added", {
        autoHideDelay: 5000,
        appendToast: append,
        variant: 'success',
        title: "SUCCESS",
      })
    },
  }
}
</script>
