<template>
  <b-modal id="add-new-conference-modal"
           @ok="ok">
    <p class="my-4">Insert new conference details</p>

    <b-form-group
        id="title-grp"
        label-cols-sm="4"
        label-for="title"
        v-bind:class="missingValueTextHighlight(conference.title)"
    ><template>Title</template>
      <b-form-textarea
          id="title"
          name="title"
          rows="1"
          v-model="conference.title"
          v-bind:class="missingValueBorderHighlight(conference.title)"
          placeholder="Insert conference title"
      ></b-form-textarea>
    </b-form-group>

    <b-form-group
        id="date-grp"
        label-cols-sm="4"
        label-for="date"
        v-bind:class="missingValueTextHighlight(conference.date)"
    ><template>Date</template>
      <b-input-group class="mb-3">
          <b-form-datepicker
              v-model="conference.date"
              right
              aria-controls="date"
              v-bind:class="missingValueBorderHighlight(conference.date)"
          ></b-form-datepicker>
      </b-input-group>
    </b-form-group>

    <b-form-group
        id="startTime-grp"
        label-cols-sm="4"
        label-for="startTime"
        v-bind:class="missingValueTextHighlight(conference.startTime)"
    ><template>Time</template>
      <b-input-group class="mb-3">
        <b-input-group-append>
          <b-time v-model="conference.startTime" @context="onContext"
                  v-bind:class="missingValueBorderHighlight(conference.startTime)"></b-time>
        </b-input-group-append>
      </b-input-group>
    </b-form-group>

    <b-form-group
        id="owner-name-grp"
        label-cols-sm="4"
        label-for="owner"
        v-bind:class="missingValueTextHighlight(conference.owner.name)"
    ><template>Owner name</template>
      <b-input-group class="mb-3">
        <b-form-input
            id="owner"
            v-model="conference.owner.name"
            v-bind:class="missingValueBorderHighlight(conference.owner.name)"
            type="text"
        ></b-form-input>
      </b-input-group>
    </b-form-group>

    <b-form-group
        id="owner-birthday-grp"
        label-cols-sm="4"
        label-for="date"
        v-bind:class="missingValueTextHighlight(conference.owner.birthday)"
    ><template>Owner birthday</template>
      <b-input-group class="mb-3">
        <b-form-datepicker
            v-model="conference.owner.birthday"
            right
            aria-controls="date"
            v-bind:class="missingValueBorderHighlight(conference.owner.birthday)"
        ></b-form-datepicker>
      </b-input-group>
    </b-form-group>


    <template v-slot:modal-footer="{ ok, cancel }">
      <b-button size="lg" variant="success" @click="ok"
        :disabled="isMissingValue">
        <b-icon-plus></b-icon-plus> ADD
      </b-button>
      <b-button size="lg" variant="danger" @click="cancel">
        CANCEL
      </b-button>
    </template>

  </b-modal>
</template>

<script>


import {highlightStyleMixin} from "../../mixins/highlightStyleMixin";
import EventBus from "../../utils/eventBus";

export default {
  name: "AddNewConference",
  mixins: [
    highlightStyleMixin
  ],
  mounted() {
    EventBus.$on('show-new-conference-modal', this.showNewConferenceModal);
  },
  beforeMount() {
    EventBus.$off('show-new-conference-modal', this.showNewConferenceModal);
  },
  data() {
    return {
      conference: {
        title: null,
        date: null,
        startTime: null,
        owner: {
          name: null,
          birthday: null
        }
      },
      conferences: [],
      context: null
    }
  },
  computed: {
    isMissingValue() {
      return this.checkIfSomeValueIsMissing();
    }
  },
  methods: {
    showNewConferenceModal(conferences) {
      this.conferences = conferences;
      this.$bvModal.show('add-new-conference-modal');
    },
    cancel() {
      this.$bvModal.hide('add-new-conference-modal');
    },
    async ok(bvModalEvt) {
      bvModalEvt.preventDefault();
      try {
        const response = await this.axios.post('http://localhost:8081/api/conference', this.conference);
        if (response && response.status === 200) {
          EventBus.$emit("FETCH_NEW_CONFERENCE");
          this.conference = response.data;
          this.makeToast();
        }
        this.cancel();
      } catch (e) {
        console.log(e);
      }
    },
    makeToast(append = false) {
      this.$bvToast.toast("New Conference is created", {
        autoHideDelay: 5000,
        appendToast: append,
        variant: 'success',
        title: "SUCCESS",
      })
    },
    onContext(ctx) {
      this.context = ctx
    },
    checkIfSomeValueIsMissing() {
      return this.conference.name === null || this.conference.owner.name === null ||
          this.conference.owner.birthday === null || this.conference.date === null ||
          this.conference.title === null || this.conference.startTime === null;
    }
  }
}
</script>
