<template>
  <b-modal id="change-owner-modal"
           @ok="ok">
    <p class="my-4">Insert new owner details</p>

              <b-form-group
                  id="owner-name-grp"
                  label-cols-sm="4"
                  label-for="owner"
                  v-bind:class="missingValueTextHighlight(owner.name)"
              ><template slot="label">New Owner name</template>
                <b-input-group class="mb-3">
                  <b-form-input
                      id="owner"
                      v-model="owner.name"
                      v-bind:class="missingValueBorderHighlight(owner.name)"
                      type="text"
                  ></b-form-input>
                </b-input-group>
              </b-form-group>

              <b-form-group
                  id="owner-birthday-grp"
                  label-cols-sm="4"
                  label-for="date"
                  v-bind:class="missingValueTextHighlight(owner.birthday)"
              ><template slot="label">New Owner birthday</template>
                <b-input-group class="mb-3">
                  <b-form-datepicker
                      v-model="owner.birthday"
                      right
                      aria-controls="date"
                      v-bind:class="missingValueBorderHighlight(owner.birthday)"
                  ></b-form-datepicker>
                </b-input-group>
              </b-form-group>

    <template v-slot:modal-footer="{ ok, cancel }">
      <b-button size="lg" variant="success" @click="ok">
        <b-icon-plus></b-icon-plus> CHANGE
      </b-button>
      <b-button size="lg" variant="danger" @click="cancel">
        CANCEL
      </b-button>
    </template>

  </b-modal>
</template>

<script>
import EventBus from "../../utils/eventBus";
import {highlightStyleMixin} from "@/mixins/highlightStyleMixin";

export default {
  name: "ChangeOwnerModal",
  mixins: [
    highlightStyleMixin
  ],
  data() {
    return {
      owner: {
        name: null,
        birthday: null
      }
    }
  },
  mounted() {
    EventBus.$on('show-update-owner-modal', this.showChangeOwnerModal);
  },
  beforeMount() {
    EventBus.$off('show-update-owner-modal', this.showChangeOwnerModal);
  },
  methods: {
    showChangeOwnerModal(conference) {
      this.owner = conference.owner;
      this.$bvModal.show('change-owner-modal');
    },
    cancel() {
      this.$bvModal.hide('change-owner-modal');
    },
    async ok(bvModalEvt) {
      bvModalEvt.preventDefault();
      const response = await this.axios.patch(`/conference/${this.$route.params.id}/owner`, this.owner);
      if (response && response.status === 200) {
        EventBus.$emit("FETCH_CONFERENCE");
        this.conference = response.data;
        this.makeToast();
      }
      this.cancel();
    },
    makeToast(append = false) {
      this.$bvToast.toast("Owner is changed", {
        autoHideDelay: 5000,
        appendToast: append,
        variant: 'success',
        title: "SUCCESS",
      })
    }
  }
}
</script>

<style scoped>

</style>