<template>
  <b-modal id="remove-participant-modal"
           @ok="ok">
    <p class="my-4 question">Are you sure to remove participant {{ participant.name }} ?</p>

    <template v-slot:modal-footer="{ ok, cancel }">
      <b-button size="lg" variant="success" @click="ok">
        <b-icon-plus></b-icon-plus> YES
      </b-button>
      <b-button size="lg" variant="danger" @click="cancel">
        NO
      </b-button>
    </template>

  </b-modal>
</template>

<script>
import EventBus from "../../utils/eventBus";

export default {
  name: "RemoveParticipantModal",
  mounted() {
    EventBus.$on('show-remove-participant-modal', this.showRemoveParticipantModal);
  },
  beforeMount() {
    EventBus.$off('show-remove-participant-modal', this.showRemoveParticipantModal);
  },
  data() {
    return {
      participant: {}
    }
  },
  methods: {
    showRemoveParticipantModal(participant) {
      this.participant = participant;
      this.$bvModal.show('remove-participant-modal');
    },
    cancel() {
      this.$bvModal.hide('remove-participant-modal');
    },
    async ok() {
      try {
        const response = await this.axios.delete(`/conference/${this.$route.params.id}/participant/${this.participant.id}/remove`);
        if (response && response.status === 200) {
          EventBus.$emit("FETCH_CONFERENCE");
          this.makeToast();
        }
        this.cancel();
      } catch (e) {
        console.log(e);
      }
    },
    makeToast(append = false) {
      this.$bvToast.toast("Participant is removed", {
        autoHideDelay: 5000,
        appendToast: append,
        variant: 'success',
        title: "SUCCESS",
      })
    },
  }
}
</script>

<style lang="less">

.question {
  color: crimson;
  font-weight: bold;
  font-size: larger;
}
</style>