<template>
  <b-container fluid="" id="wrapper">
    <div class="row" id="conference-statement">
      <b-card class="col-md-12 col-lg-6 col-sm-12 col-xl-4">
        <b-card-title id="participants">Conference</b-card-title>
        <br>
        <b-form-group>
          <b-form-group
              id="title-grp"
              label-cols-sm="4"
              label-for="title"
          ><template slot="label">Title</template>
            <b-input
                id="title"
                v-model="conference.title"
            ></b-input>
          </b-form-group>

          <b-form-group
              id="date-grp"
              label-cols-sm="4"
              label-for="date"
          ><template slot="label">Date</template>
            <b-input-group class="mb-3">
              <b-form-datepicker
                  v-model="conference.date"
                  right
                  aria-controls="date"
              ></b-form-datepicker>
            </b-input-group>
          </b-form-group>

          <b-form-group
              id="startTime-grp"
              label-cols-sm="4"
              label-for="startTime"
          ><template slot="label">Time</template>
            <b-input-group class="mb-3">
              <b-input-group-append>
                <b-time v-model="conference.startTime"></b-time>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>

          <b-form-group
              id="owner-grp"
              label-cols-sm="4"
              label-for="owner"
              v-model="conference.owner"
          ><template slot="label">Owner</template>
            <b-col>
              {{ 'Name: ' + conference.owner.name + ' / Birthday: ' + conference.owner.birthday }}
            </b-col>
            <b-col>
              <b-button size="sm" type="submit" variant="info" @click="showChangeOwnerModal" id="changeOwnerButton">
                <b-icon-forward-fill></b-icon-forward-fill><label>Change owner</label>
              </b-button>
              <change-owner-modal></change-owner-modal>
            </b-col>
          </b-form-group>

          <b-button size="md" class="my-2 my-sm-0" type="submit" variant="warning" @click="updateConference()" id="updateButton">
            <b-icon-forward-fill></b-icon-forward-fill><label>UPDATE CONFERENCE</label>
          </b-button>

        </b-form-group>
      </b-card>

      <b-card class="col-md-12 col-lg-6 col-sm-12 col-xl-4">
        <participants :participants="conference.participants"
                        v-model="conference.participants"/>
      </b-card>

      <b-card class="col-md-12 col-lg-6 col-sm-12 col-xl-4">
        <conference-room :room="conference.room" :registeredParticipants="conference.participants.length"
                         :conference-date="conference.date"
                      v-model="conference.room"/>
      </b-card>
    </div>
  </b-container>
</template>

<script>
import ChangeOwnerModal from "@/components/modals/ChangeOwnerModal.vue";
import ConferenceRoom from "@/components/ConferenceRoom.vue";
import Participants from "@/components/Participants.vue";
import EventBus from "@/utils/eventBus";

export default {
  name: "Conference",
  components: {
    ChangeOwnerModal,
    Participants,
    ConferenceRoom
  },
  beforeMount() {
    EventBus.$on('FETCH_CONFERENCE', this.fetchData);
  },
  data() {
    return {
      conference: {
        title: null,
        date: null,
        startTime: null,
        owner: {
          name: null,
          birthday: null
        },
        participants: [],
        room: {}
      }
    }
  },
  async created() {
    await this.fetchData();
  },
  methods: {
    async fetchData() {
      try {
        const response = await this.axios.get(`/conference/${this.$route.params.id}`);
        if (response.data) {
          this.conference = response.data;
          return this.conference;
        }
        return this.conference;
      }
      catch (e) {
        console.log(e);
      }
    },
    async updateConference() {
      try {
        const response = await this.axios.put(`/conference/${this.$route.params.id}`, this.conference);
        if (response && response.data) {
          this.conference = response.data;
          this.makeToast();
          return this.conference;
        }
        return this.conference;
      }
      catch (e) {
        console.log(e);
      }
    },
    showChangeOwnerModal() {
      EventBus.$emit('show-update-owner-modal', this.conference);
    },
    makeToast(append = false) {
      this.$bvToast.toast("Conference is updated", {
        autoHideDelay: 5000,
        appendToast: append,
        variant: 'success',
        title: "SUCCESS",
      })
    },
  }
}
</script>

<style scoped>

#wrapper {
  padding: 2%;
  margin: auto;
}

#conference-statement {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  text-align: left;
  margin-right: auto;
}

</style>
