<template>
  <b-container fluid="true" id="app">
      <b-card-title id="conferences-title">Booked conferences</b-card-title>

      <div id="conferences-results" class="table-responsive">
        <b-table
            id="conferences-table"
            striped
            v-if="conferences && conferences.length"
            :items="conferences"
            :hover="true"
            :fields="fields"
            @row-clicked="viewConference"
            primary-key="_id"
            small
            responsive="true">
          <template v-slot:cell(view)="{ item }">
            <b-link :href="`/conference/${item.id}`" v-b-tooltip.hover title="Click to open">
              <b-icon-eye-fill></b-icon-eye-fill>
              <b-badge variant="warning" v-if="item.status === 'CANCELLED'">Cancelled</b-badge>
            </b-link>
          </template>

          <template v-slot:cell(owner)="{ item }">
            <span>{{ item.owner.name }}</span>
          </template>
        </b-table>

        <div v-if="!conferences.length" class="empty-message">
          <p>There is no booked conferences</p>
        </div>
      </div>

      <b-button size="md" class="my-2 my-sm-0 left" id="addButton" type="button" variant="info" @click="showNewConferenceModal">
        <b-icon-plus></b-icon-plus><label>Book new conference</label>
      </b-button>
      <add-new-conference></add-new-conference>
  </b-container>
</template>

<script>

import AddNewConference from "@/components/modals/AddNewConference.vue";
import EventBus from "@/utils/eventBus";

export default {
  name: "HomePage",
  components: {
    AddNewConference
  },
  beforeMount() {
    EventBus.$on('FETCH_NEW_CONFERENCE', this.fetchData);
  },
  async created() {
    await this.fetchData();
  },
  data() {
    return {
      fields: [
        { key: 'view', label: '' },
        { key: 'title', label: 'Title' },
        { key: 'date', label: 'Date' },
        { key: 'startTime', label: 'Time' },
        { key: 'owner', label: 'Owner' },
      ],
      conferences: []
    }
  },
  methods: {
    showNewConferenceModal() {
      EventBus.$emit('show-new-conference-modal', this.conferences);
    },
    async fetchData() {
      try {
        const response = await this.axios.get('/conference');
        if (response && response.data) {
          this.conferences = response.data;
          return this.conferences;
        }
        return this.conferences;
      }
      catch (e) {
        console.log(e);
      }
    },
    viewConference(item) {
      const routeData = this.$router.resolve({ path: `/conference/${item.id}` });
      window.open(routeData.href);
    }
  }
}
</script>

<style lang="less">

#main-form {
  align-items: center;
  text-align: center;
  margin: auto;
  padding-top: 2%;
}

#conferences-title {
  color: blue;
}

.empty-message {
  margin: auto;
  text-align: center;
  font-style: italic;
  font-size: small;
}

#conferences-results {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  align-items: center;
  text-align: left;
  padding-right: 8%;
  padding-left: 8%;
}

#conferences-table {
  overflow: auto;
}

</style>
