<template>
  <div class="welcome">
    <h2>Welcome to Conference booking system</h2>
  </div>
</template>

<script>
export default {
  name: "Navbar"
}
</script>

<style lang="less">
.welcome {
  padding-top: 30px;
}
</style>
