<template>
  <b-card-body>
    <b-card-title id="participants">Participants</b-card-title>
    <br>
    <b-card-text id="participantsMissing" v-if="!participants || participants.length === 0">No participants at the moment</b-card-text>
    <br>
    <div class="request-area">
      <b-table
          v-if="participants.length > 0"
          sticky-header="true"
          :items="participants"
          :fields="fields"
          striped responsive="true">
        <template v-slot:cell(action)="{ item }">
          <b-button @click="showRemoveParticipantModal(item)">
            <b-icon-trash></b-icon-trash>
          </b-button>
          <remove-participant-modal></remove-participant-modal>
        </template>
      </b-table>

      <b-button size="md" class="my-2 my-sm-0" id="addButton" type="button" variant="info" @click="showNewParticipantModal">
        <b-icon-plus></b-icon-plus><label>Add new participant</label>
      </b-button>
      <add-new-participant></add-new-participant>

    </div>
  </b-card-body>
</template>

<script>
import AddNewParticipant from "@/components/modals/AddNewParticipant.vue";
import RemoveParticipantModal from "@/components/modals/RemoveParticipantModal.vue";
import EventBus from "@/utils/eventBus";

export default {
  name: "Participants",
  components: {
    AddNewParticipant,
    RemoveParticipantModal
  },
  props: {
    participants: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      fields: [
        { key: 'name', label: 'Name' },
        { key: 'birthday', label: 'Birthday' },
        { key: 'action', label: '' }
      ],
    }
  },
  methods: {
    showNewParticipantModal() {
      EventBus.$emit('show-new-participant-modal');
    },
    showRemoveParticipantModal(participant) {
      EventBus.$emit('show-remove-participant-modal', participant);
    }
  }
}
</script>

<style lang="less">
#participantsMissing {
  font-style: italic;
}

</style>
