<template>
  <div id="app">
    <div id="nav">
      <Navbar/>
    </div>
    <router-view/>
  </div>
</template>

<style lang="less">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  nav li.router-link-exact-active {
    background-color: white;
    height: inherit;
  };
  nav li.router-link-exact-active a {
    color: #217bb9;
  };
  nav {
    padding-top: 12px;
    padding-bottom: 0;
  };

}
.morpheus-den-gradient {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
</style>

<script>
    import Navbar from "@/components/Navbar";

    export default {
        name: 'Main',
        components: {
          Navbar
        },
        data() {
            return {
            }
        },
        methods: {

        }
    }
</script>
